body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  width: 320px;
  height: 568px;
  border: 1px black solid;
  padding: 0;
}

.Buttonbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
